<h3 [hidden]="!headBlackResult">Black Detection</h3>
<h3 [hidden]="!headBlackStarted">Black Detection in Progress</h3>
<div class="col-xs-6" [hidden]="!headBlackStarted">
  <h4>performing black detection on head...</h4>
  <progress class="progress ma-progress" value="{{headBlackProgress}}" max="1">0%</progress>
</div>

<div class="col-xs-6" [hidden]="!headBlackResult">
  <div *ngFor="#item of headBlackResult">
    <h5>
      <i [hidden]="item.duration >= 3" class="fa fa-times-circle"></i>
      <span [hidden]="item.duration >= 3">less than 3 seconds of black found in video head.
        ({{item.duration}} found.)</span>
      <i [hidden]="item.duration < 3" class="fa fa-check-circle"></i>
      <span [hidden]="item.duration < 3">3 seconds or more found in video head</span>
    </h5>
  </div>
</div>

<div class="col-xs-6" [hidden]="!tailBlackStarted">
  <h4>performing black detection on tail...</h4>
  <progress class="progress ma-progress" value="{{tailBlackProgress}}" max="1">0%</progress>
</div>

<div class="col-xs-6" [hidden]="!tailBlackResult">
  <div *ngFor="#item of tailBlackResult">
    <h5>
      <i [hidden]="item.duration >= 3" class="fa fa-times-circle"></i>
      <span [hidden]="item.duration >= 3">less than 3 seconds of black found in video tail.
            ({{item.duration}} found.)</span>
      <i [hidden]="item.duration < 3" class="fa fa-check-circle"></i>
      <span [hidden]="item.duration < 3">3 seconds or more found in video tail</span>
    </h5>
  </div>
</div>
