.ddp-hashes-content {
  padding-left: 40px;
  padding-right: 40px;
}

.ddp-hash-match {
  background-color: #9edbaa;
}

.ddp-hash-mismatch {
  background-color: #e58184;
}

.btn-primary {
  background-color: #BBBEC5;
  margin-bottom: 20px;
  border-radius: 15px;
  margin-top: -40px;
  font-size: 15px;
  font-weight: 200;
  color: white;
  border: 1px  #9283A2 solid;
  margin-left: 800px;
}

.ddp-hash-status {
  text-align: center;
  margin: auto;
  padding-left: 20px;
}

