<app-accordion [isFirstOpened]="true">
  <app-accordion-group title="Player">
    <app-audio-player [file]="file"></app-audio-player>
  </app-accordion-group>

  <app-accordion-group title="Validations" [resultValidation]="getResultValidation()">
    <app-audio-validations [file]="file" (outputEmit)="handleResultValidation($event)"></app-audio-validations>
  </app-accordion-group>

  <app-accordion-group title="Metadata">
    <app-audio-metadata [file]="file"></app-audio-metadata>
  </app-accordion-group>
</app-accordion>
