$loader: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 128 128\'%3E%3Cg%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'16\' fill=\'%23595959\' fill-opacity=\'1\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'14.344\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(45 64 64)\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'12.531\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(90 64 64)\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'10.75\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(135 64 64)\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'10.063\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(180 64 64)\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'8.063\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(225 64 64)\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'6.438\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(270 64 64)\'/%3E%3Ccircle cx=\'16\' cy=\'64\' r=\'5.375\' fill=\'%23595959\' fill-opacity=\'1\' transform=\'rotate(315 64 64)\'/%3E%3CanimateTransform attributeName=\'transform\' type=\'rotate\' values=\'0 64 64;315 64 64;270 64 64;225 64 64;180 64 64;135 64 64;90 64 64;45 64 64\' calcMode=\'discrete\' dur=\'720ms\' repeatCount=\'indefinite\'/%3E%3C/g%3E%3C/svg%3E';
$warn: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 576 512\'%3E%3Cpath fill=\'orange\' d=\'M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z\'%3E%3C/path%3E%3C/svg%3E';
$success: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'green\' d=\'M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z\'%3E%3C/path%3E%3C/svg%3E';
$error: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23f00\' d=\'M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z\'%3E%3C/path%3E%3C/svg%3E';
$question: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23777\' d=\'M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z\'%3E%3C/path%3E%3C/svg%3E';
$file: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cg fill=\'%23A7AFB7\'%3E%3Cpath d=\'M5.5 22a.5.5 0 0 1-.5-.5v-18a.5.5 0 0 1 .5-.5h10.719a.5.5 0 0 1 .367.16l3.281 3.556a.5.5 0 0 1 .133.339V21.5a.5.5 0 0 1-.5.5h-14zm.5-1h13V7.25L16 4H6v17z\'/%3E%3Cpath d=\'M15 4v3a1 1 0 0 0 1 1h3V7h-3V4h-1z\'/%3E%3C/g%3E%3C/svg%3E';
$text: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M4.5 7h13a.5.5 0 1 1 0 1h-13a.5.5 0 0 1 0-1zm0 3h15a.5.5 0 1 1 0 1h-15a.5.5 0 1 1 0-1zm0 3h15a.5.5 0 1 1 0 1h-15a.5.5 0 1 1 0-1zm0 3h10a.5.5 0 1 1 0 1h-10a.5.5 0 1 1 0-1z\' fill=\'%235A5E69\'/%3E%3C/svg%3E';
$image: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cg fill=\'%23686DE0\' fill-rule=\'evenodd\'%3E%3Cpath d=\'M5 7v10h15V7H5zm0-1h15a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1z\'/%3E%3Cpath d=\'M6.35 17.172l4.994-5.026a.5.5 0 0 1 .707 0l2.16 2.16 3.505-3.505a.5.5 0 0 1 .707 0l2.336 2.31-.707.72-1.983-1.97-3.505 3.505a.5.5 0 0 1-.707 0l-2.16-2.159-3.938 3.939-1.409.026z\'/%3E%3Ccircle cx=\'7.5\' cy=\'9.5\' r=\'1.5\'/%3E%3C/g%3E%3C/svg%3E';
$audio: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M9.5 18.64c0 1.14-1.145 2-2.5 2s-2.5-.86-2.5-2c0-1.14 1.145-2 2.5-2 .557 0 1.079.145 1.5.396V7.25a.5.5 0 0 1 .379-.485l9-2.25A.5.5 0 0 1 18.5 5v11.64c0 1.14-1.145 2-2.5 2s-2.5-.86-2.5-2c0-1.14 1.145-2 2.5-2 .557 0 1.079.145 1.5.396V8.67l-8 2v7.97zm8-11v-2l-8 2v2l8-2zM7 19.64c.855 0 1.5-.484 1.5-1s-.645-1-1.5-1-1.5.484-1.5 1 .645 1 1.5 1zm9-2c.855 0 1.5-.484 1.5-1s-.645-1-1.5-1-1.5.484-1.5 1 .645 1 1.5 1z\' fill=\'%23049BCF\'/%3E%3C/svg%3E';
$video: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M16 11.834l4.486-2.691A1 1 0 0 1 22 10v6a1 1 0 0 1-1.514.857L16 14.167V17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2.834zM15 9H5v8h10V9zm1 4l5 3v-6l-5 3z\' fill=\'%2319AF67\'/%3E%3C/svg%3E';
$pdf: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M9.766 8.295c-.691-1.843-.539-3.401.747-3.726 1.643-.414 2.505.938 2.39 3.299-.039.79-.194 1.662-.537 3.148.324.49.66.967 1.055 1.51.17.231.382.488.629.757 1.866-.128 3.653.114 4.918.655 1.487.635 2.192 1.685 1.614 2.84-.566 1.133-1.839 1.084-3.416.249-1.141-.604-2.457-1.634-3.51-2.707a13.467 13.467 0 0 0-2.238.426c-1.392 4.051-4.534 6.453-5.707 4.572-.986-1.58 1.38-4.206 4.914-5.375.097-.322.185-.656.264-1.001.08-.353.306-1.31.407-1.737-.678-1.059-1.2-2.031-1.53-2.91zm2.098 4.87c-.033.144-.068.287-.104.427l.033-.01-.012.038a14.065 14.065 0 0 1 1.02-.197l-.032-.033.052-.004a7.902 7.902 0 0 1-.208-.271c-.197-.27-.38-.526-.555-.775l-.006.028-.002-.003c-.076.323-.148.632-.186.8zm5.77 2.978c1.143.605 1.832.632 2.054.187.26-.519-.087-1.034-1.113-1.473-.911-.39-2.175-.608-3.55-.608.845.766 1.787 1.459 2.609 1.894zM6.559 18.789c.14.223.693.16 1.425-.413.827-.648 1.61-1.747 2.208-3.206-2.563 1.064-4.102 2.867-3.633 3.62zm5.345-10.97c.088-1.793-.351-2.48-1.146-2.28-.473.119-.564 1.05-.056 2.405.213.566.52 1.188.908 1.859.18-.858.268-1.453.294-1.984z\' fill=\'%23E2514A\'/%3E%3C/svg%3E';
$archive: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M10.45 2.05h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5V2.55a.5.5 0 0 1 .5-.5zm2.05 1.024h1.05a.5.5 0 0 1 .5.5V3.6a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5v-.001zM10.45 0h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5V.5a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.024a.5.5 0 0 1 .5-.5zm-2.05 3.074h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.024a.5.5 0 0 1 .5-.5zm-2.05 1.024h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm-2.05 1.025h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.024a.5.5 0 0 1 .5-.5zm-1.656 3.074l-.82 5.946c.52.302 1.174.458 1.976.458.803 0 1.455-.156 1.975-.458l-.82-5.946h-2.311zm0-1.025h2.312c.512 0 .946.378 1.015.885l.82 5.946c.056.412-.142.817-.501 1.026-.686.398-1.515.597-2.49.597-.974 0-1.804-.199-2.49-.597a1.025 1.025 0 0 1-.5-1.026l.819-5.946c.07-.507.503-.885 1.015-.885zm.545 6.6a.5.5 0 0 1-.397-.561l.143-.999a.5.5 0 0 1 .495-.429h.74a.5.5 0 0 1 .495.43l.143.998a.5.5 0 0 1-.397.561c-.404.08-.819.08-1.222 0z\' fill=\'%2300C469\'/%3E%3C/svg%3E';
$play: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z'%3E%3C/path%3E%3C/svg%3E";
$stop: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48z'%3E%3C/path%3E%3C/svg%3E%0A";

.ma-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  background-image: url('data:image/svg+xml, #{$file}');
  background-repeat: no-repeat;

  &.warn {
    background-image: url('data:image/svg+xml, #{$warn}');
  }

  &.success {
    background-image: url('data:image/svg+xml, #{$success}');
  }

  &.error {
    background-image: url('data:image/svg+xml, #{$error}');
  }

  &.loader {
    background-image: url('data:image/svg+xml, #{$loader}');
  }

  &.question {
    background-image: url('data:image/svg+xml, #{$question}');
  }

  &.files,
  &.application {
    background-image: url('data:image/svg+xml, #{$file}');
  }

  &.text {
    background-image: url('data:image/svg+xml, #{$text}');
  }

  &.image {
    background-image: url('data:image/svg+xml, #{$image}');
  }

  &.audio {
    background-image: url('data:image/svg+xml, #{$audio}');
  }

  &.video {
    background-image: url('data:image/svg+xml, #{$video}');
  }

  &.pdf {
    background-image: url('data:image/svg+xml, #{$pdf}');
  }

  &.archive {
    background-image: url('data:image/svg+xml, #{$archive}');
  }

  &.play, &.stop {
    border-radius: 0;
    background-color: transparent;
    background-image: url('data:image/svg+xml, #{$play}');
  }

  &.stop {
    background-image: url('data:image/svg+xml, #{$stop}');
  }

  & + span {
    margin: 0 0 0 10px;
  }
}

.icon-prores,
.icon-mpeg2 {
  margin: 0 0 0 5px;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 3px;
  background-color: #b16d99;
}

.icon-mpeg2 {
  background-color: #2495af;
}
