@import "~fontsource-mulish/index.css";
@import 'theming';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font: 300 14px/1 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

h4 {
  font-size: 22px;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.fas,
.far,
.fab {
  font-size: 16px;
  margin: 0 5px 0 0;
}

dl {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 1px;
  align-items: center;

  dt, dd {
    padding: 5px;
  }
}

.alert-danger {
  margin: 0 0 10px;
}
