@import '~fontsource-mulish/index.css';
@import 'theming';
@import 'icons';

@mixin section() {
  max-width: $size-sectionWidth;
  height: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

html,
body,
app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font: 300 14px/1 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

// Main Layout
// -------------------------------
app-root {
  display: grid;
  grid-template-columns: [line1] minmax(320px, auto) [line2];
  //grid-template-rows: [row1] $size-headerHeight [row2] calc(100vh - #{$size-headerHeight} - #{$size-consoleHeight}) [row3] $size-consoleHeight [row4];
  grid-template-rows: [row1] $size-headerHeight [row2] 1fr [row3] $size-consoleHeight [row4];

  header {
    grid-column: line1 / line2;
    grid-row: row1 / row2;

    section {
      @include section;

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
      }
    }
  }

  main {
    display: grid;
    overflow: hidden;
    grid-template-columns: [line1] minmax(380px, $size-uploaderWidth) [line2] minmax(380px, $size-validationWidth) [line3];
    grid-column-gap: $gridColumnGapWidth;
    grid-column: line1 / line2;
    grid-row: row2 / row3;
    margin: 0 auto;

    aside {
      grid-column: line1 / line2;
    }

    article {
      grid-column: line2 / line3;

      section {
        overflow-y: auto;
        //height: calc(100vh - #{$size-headerHeight} - #{$size-consoleHeight} - 40px);
        height: calc(100vh - #{$size-headerHeight} - 50px);
      }
    }
  }

  footer {
    grid-column: line1 / line2;
    grid-row: row3 / row4;

    section {
      @include section;
    }
  }
}



h3,
h4 {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;

  small {
    font-weight: normal;
  }
}

h4 {
  font-size: 15px;
}

dl {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 1px;
  align-items: center;

  dt,
  dd {
    display: flex;
    align-items: center;
    padding: 2px 5px;
  }
}

.alert-danger {
  margin: 0 0 10px;
  padding: 10px;
  color: red;
  background-color: #ffecec;
}

.warn-message {
  margin: 0 5px;
  color: red;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
  background-color: #eef4f5;
  margin: 5px 0 0;

  span {
    color: blue;
  }
}

pre {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  margin: 0 0 10px;
}

.informer {
  position: absolute;
  z-index: -1000;
  right: 0;
  bottom: 60px;
  left: 0;
  transition: all 0.3s ease-in;
  transform: translateY(350%);
  text-align: center;
  opacity: 0;

  &.show {
    z-index: 1005;
    transition: all 0.25s ease-in;
    transform: none;
    opacity: 1;
  }

  p {
    display: inline-block;
    max-width: 90%;
    margin: 0;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    border-radius: 18px;
    background-color: #757575;
  }
}

button {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0;
  cursor: pointer;
  transition: background 0.3s linear;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  border: 0;
  border-radius: 3px;
  outline: none;
  padding: 8px 20px;
  color: #fff;
  background-color: #2275d7;
}

.modal {
  p {
    padding: 6px 0;
  }
}
