@import '~fontsource-mulish/index.css';
@import 'theming';
@import 'icons';

@mixin section() {
  max-width: $size-sectionWidth;
  height: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

html,
body,
app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font: 300 14px/1 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

// Main Layout
// -------------------------------
app-root {
  display: grid;
  grid-template-columns: [line1] minmax(320px, auto) [line2];
  grid-template-rows: [row1] $size-headerHeight [row2] calc(100vh - #{$size-headerHeight} - #{$size-consoleHeight}) [row3] $size-consoleHeight [row4];

  header {
    grid-column: line1 / line2;
    grid-row: row1 / row2;

    section {
      @include section;

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
      }
    }
  }

  main {
    display: grid;
    overflow: hidden;
    grid-template-columns: [line1] minmax(380px, $size-uploaderWidth) [line2] minmax(380px, $size-validationWidth) [line3];
    grid-column-gap: $gridColumnGapWidth;
    grid-column: line1 / line2;
    grid-row: row2 / row3;
    margin: 0 auto;

    aside {
      grid-column: line1 / line2;
    }

    article {
      grid-column: line2 / line3;

      section {
        overflow-y: auto;
        height: calc(100vh - #{$size-headerHeight} - #{$size-consoleHeight} - 40px);
      }
    }
  }

  footer {
    grid-column: line1 / line2;
    grid-row: row3 / row4;

    section {
      @include section;
    }
  }
}



h3,
h4 {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;

  small {
    font-weight: normal;
  }
}

h4 {
  font-size: 15px;
}

dl {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-gap: 1px;
  align-items: center;

  dt,
  dd {
    display: flex;
    align-items: center;
    padding: 2px 5px;
  }
}

.alert-danger {
  margin: 0 0 10px;
  padding: 10px;
  color: red;
  background-color: #ffecec;
}

.warn-message {
  margin: 0 5px;
  color: red;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
  background-color: #eef4f5;

  span {
    color: blue;
  }
}

pre {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: pre-wrap;
  margin: 0 0 10px;
}
