@import 'animations';

$folder: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23509804\' d=\'M394.667,256c-64.698,0-117.333,52.635-117.333,117.333s52.635,117.333,117.333,117.333S512,438.031,512,373.333 S459.365,256,394.667,256z M437.333,384h-32v32c0,5.896-4.771,10.667-10.667,10.667S384,421.896,384,416v-32h-32 c-5.896,0-10.667-4.771-10.667-10.667c0-5.896,4.771-10.667,10.667-10.667h32v-32c0-5.896,4.771-10.667,10.667-10.667 s10.667,4.771,10.667,10.667v32h32c5.896,0,10.667,4.771,10.667,10.667C448,379.229,443.229,384,437.333,384z\'/%3E%3Cpath fill=\'%23F9D468\' d=\'M256,373.333c0-76.458,62.208-138.667,138.667-138.667c20.563,0,40.552,4.552,59.417,13.531 c3.323,1.563,7.198,1.333,10.281-0.615c3.094-1.958,4.969-5.365,4.969-9.021V106.667c0-23.531-19.135-42.667-42.667-42.667 h-198.25l-39.542-39.542c-2-2-4.708-3.125-7.542-3.125H42.667C19.135,21.333,0,40.469,0,64v298.667 c0,23.531,19.135,42.667,42.667,42.667h204.365c3.094,0,6.031-1.344,8.063-3.677c2.021-2.333,2.938-5.438,2.5-8.5 C256.51,385.573,256,379.271,256,373.333z\'/%3E%3C/svg%3E';
$list: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23107FC4\' d=\'M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z\'/%3E%3C/svg%3E';
$thumb: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23107FC4\' d=\'M296 32h192c13.255 0 24 10.745 24 24v160c0 13.255-10.745 24-24 24H296c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24zm-80 0H24C10.745 32 0 42.745 0 56v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24zM0 296v160c0 13.255 10.745 24 24 24h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm296 184h192c13.255 0 24-10.745 24-24V296c0-13.255-10.745-24-24-24H296c-13.255 0-24 10.745-24 24v160c0 13.255 10.745 24 24 24z\'/%3E%3C/svg%3E';
$sort: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23107FC4\' d=\'M0 168v-16c0-13.255 10.745-24 24-24h360V80c0-21.367 25.899-32.042 40.971-16.971l80 80c9.372 9.373 9.372 24.569 0 33.941l-80 80C409.956 271.982 384 261.456 384 240v-48H24c-13.255 0-24-10.745-24-24zm488 152H128v-48c0-21.314-25.862-32.08-40.971-16.971l-80 80c-9.372 9.373-9.372 24.569 0 33.941l80 80C102.057 463.997 128 453.437 128 432v-48h360c13.255 0 24-10.745 24-24v-16c0-13.255-10.745-24-24-24z\'/%3E%3C/svg%3E';
$upload: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23509804\' d=\'M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z\'/%3E%3C/svg%3E';
$warn: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23e25149\' d=\'M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zm-248 50c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z\'%3E%3C/path%3E%3C/svg%3E';
$verify: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23bbb\' d=\'M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z\'%3E%3C/path%3E%3C/svg%3E';
$file: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cg fill=\'%23A7AFB7\'%3E%3Cpath d=\'M5.5 22a.5.5 0 0 1-.5-.5v-18a.5.5 0 0 1 .5-.5h10.719a.5.5 0 0 1 .367.16l3.281 3.556a.5.5 0 0 1 .133.339V21.5a.5.5 0 0 1-.5.5h-14zm.5-1h13V7.25L16 4H6v17z\'/%3E%3Cpath d=\'M15 4v3a1 1 0 0 0 1 1h3V7h-3V4h-1z\'/%3E%3C/g%3E%3C/svg%3E';
$text: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M4.5 7h13a.5.5 0 1 1 0 1h-13a.5.5 0 0 1 0-1zm0 3h15a.5.5 0 1 1 0 1h-15a.5.5 0 1 1 0-1zm0 3h15a.5.5 0 1 1 0 1h-15a.5.5 0 1 1 0-1zm0 3h10a.5.5 0 1 1 0 1h-10a.5.5 0 1 1 0-1z\' fill=\'%235A5E69\'/%3E%3C/svg%3E';
$image: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cg fill=\'%23686DE0\' fill-rule=\'evenodd\'%3E%3Cpath d=\'M5 7v10h15V7H5zm0-1h15a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1z\'/%3E%3Cpath d=\'M6.35 17.172l4.994-5.026a.5.5 0 0 1 .707 0l2.16 2.16 3.505-3.505a.5.5 0 0 1 .707 0l2.336 2.31-.707.72-1.983-1.97-3.505 3.505a.5.5 0 0 1-.707 0l-2.16-2.159-3.938 3.939-1.409.026z\'/%3E%3Ccircle cx=\'7.5\' cy=\'9.5\' r=\'1.5\'/%3E%3C/g%3E%3C/svg%3E';
$audio: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M9.5 18.64c0 1.14-1.145 2-2.5 2s-2.5-.86-2.5-2c0-1.14 1.145-2 2.5-2 .557 0 1.079.145 1.5.396V7.25a.5.5 0 0 1 .379-.485l9-2.25A.5.5 0 0 1 18.5 5v11.64c0 1.14-1.145 2-2.5 2s-2.5-.86-2.5-2c0-1.14 1.145-2 2.5-2 .557 0 1.079.145 1.5.396V8.67l-8 2v7.97zm8-11v-2l-8 2v2l8-2zM7 19.64c.855 0 1.5-.484 1.5-1s-.645-1-1.5-1-1.5.484-1.5 1 .645 1 1.5 1zm9-2c.855 0 1.5-.484 1.5-1s-.645-1-1.5-1-1.5.484-1.5 1 .645 1 1.5 1z\' fill=\'%23049BCF\'/%3E%3C/svg%3E';
$video: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M16 11.834l4.486-2.691A1 1 0 0 1 22 10v6a1 1 0 0 1-1.514.857L16 14.167V17a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2.834zM15 9H5v8h10V9zm1 4l5 3v-6l-5 3z\' fill=\'%2319AF67\'/%3E%3C/svg%3E';
$pdf: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M9.766 8.295c-.691-1.843-.539-3.401.747-3.726 1.643-.414 2.505.938 2.39 3.299-.039.79-.194 1.662-.537 3.148.324.49.66.967 1.055 1.51.17.231.382.488.629.757 1.866-.128 3.653.114 4.918.655 1.487.635 2.192 1.685 1.614 2.84-.566 1.133-1.839 1.084-3.416.249-1.141-.604-2.457-1.634-3.51-2.707a13.467 13.467 0 0 0-2.238.426c-1.392 4.051-4.534 6.453-5.707 4.572-.986-1.58 1.38-4.206 4.914-5.375.097-.322.185-.656.264-1.001.08-.353.306-1.31.407-1.737-.678-1.059-1.2-2.031-1.53-2.91zm2.098 4.87c-.033.144-.068.287-.104.427l.033-.01-.012.038a14.065 14.065 0 0 1 1.02-.197l-.032-.033.052-.004a7.902 7.902 0 0 1-.208-.271c-.197-.27-.38-.526-.555-.775l-.006.028-.002-.003c-.076.323-.148.632-.186.8zm5.77 2.978c1.143.605 1.832.632 2.054.187.26-.519-.087-1.034-1.113-1.473-.911-.39-2.175-.608-3.55-.608.845.766 1.787 1.459 2.609 1.894zM6.559 18.789c.14.223.693.16 1.425-.413.827-.648 1.61-1.747 2.208-3.206-2.563 1.064-4.102 2.867-3.633 3.62zm5.345-10.97c.088-1.793-.351-2.48-1.146-2.28-.473.119-.564 1.05-.056 2.405.213.566.52 1.188.908 1.859.18-.858.268-1.453.294-1.984z\' fill=\'%23E2514A\'/%3E%3C/svg%3E';
$archive: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 25 25\'%3E%3Cpath d=\'M10.45 2.05h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5V2.55a.5.5 0 0 1 .5-.5zm2.05 1.024h1.05a.5.5 0 0 1 .5.5V3.6a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5v-.001zM10.45 0h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5V.5a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.024a.5.5 0 0 1 .5-.5zm-2.05 3.074h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.024a.5.5 0 0 1 .5-.5zm-2.05 1.024h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm-2.05 1.025h1.05a.5.5 0 0 1 .5.5v.025a.5.5 0 0 1-.5.5h-1.05a.5.5 0 0 1-.5-.5v-.025a.5.5 0 0 1 .5-.5zm2.05 1.025h1.05a.5.5 0 0 1 .5.5v.024a.5.5 0 0 1-.5.5H12.5a.5.5 0 0 1-.5-.5v-.024a.5.5 0 0 1 .5-.5zm-1.656 3.074l-.82 5.946c.52.302 1.174.458 1.976.458.803 0 1.455-.156 1.975-.458l-.82-5.946h-2.311zm0-1.025h2.312c.512 0 .946.378 1.015.885l.82 5.946c.056.412-.142.817-.501 1.026-.686.398-1.515.597-2.49.597-.974 0-1.804-.199-2.49-.597a1.025 1.025 0 0 1-.5-1.026l.819-5.946c.07-.507.503-.885 1.015-.885zm.545 6.6a.5.5 0 0 1-.397-.561l.143-.999a.5.5 0 0 1 .495-.429h.74a.5.5 0 0 1 .495.43l.143.998a.5.5 0 0 1-.397.561c-.404.08-.819.08-1.222 0z\' fill=\'%2300C469\'/%3E%3C/svg%3E';
$arrow-up: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 48 48\'%3E%3Cpath fill=\'%232275D7\' d=\'M24 1v1C11.85 2 2 11.85 2 24s9.85 22 22 22 22-9.85 22-22S36.15 2 24 2V1zm0 0V0c13.254 0 24 10.746 24 24S37.254 48 24 48 0 37.254 0 24 10.746 0 24 0v1zm7.707 19.293a.999.999 0 1 1-1.414 1.414L25 16.414V34a1 1 0 1 1-2 0V16.414l-5.293 5.293a.999.999 0 1 1-1.414-1.414l7-7a.999.999 0 0 1 1.414 0l7 7z\'/%3E%3C/svg%3E';
$plus: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 448 512\'%3E%3Cpath fill=\'green\' d=\'M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\'%3E%3C/path%3E%3C/svg%3E';
$play: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\'%3E%3Cg fill=\'none\' fill-rule=\'evenodd\'%3E%3Ccircle fill=\'%231CAE68\' cx=\'8\' cy=\'8\' r=\'8\'%3E%3C/circle%3E%3Cpath d=\'M6 4.25L11.5 8 6 11.75z\' fill=\'%23FFF\'%3E%3C/path%3E%3C/g%3E%3C/svg%3E';
$pause: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\'%3E%3Cg fill=\'none\' fill-rule=\'evenodd\'%3E%3Ccircle fill=\'%23048DBB\' cx=\'8\' cy=\'8\' r=\'8\'%3E%3C/circle%3E%3Cpath d=\'M5 4.5h2v7H5v-7zm4 0h2v7H9v-7z\' fill=\'%23FFF\'%3E%3C/path%3E%3C/g%3E%3C/svg%3E';
$stop: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 16 16\'%3E%3Cg fill=\'none\' fill-rule=\'evenodd\'%3E%3Ccircle fill=\'%23E25149\' cx=\'8\' cy=\'8\' r=\'8\'%3E%3C/circle%3E%3Crect x=\'5\' y=\'5\' width=\'6\' height=\'6\' fill=\'%23fff\' /%3E%3C/g%3E%3C/svg%3E';
$delete: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 18 18\'%3E%3Cpath fill=\'%23888\' d=\'M9 0C4.034 0 0 4.034 0 9s4.034 9 9 9 9-4.034 9-9-4.034-9-9-9z\'%3E%3C/path%3E%3Cpath fill=\'%23FFF\' d=\'M13 12.222l-.778.778L9 9.778 5.778 13 5 12.222 8.222 9 5 5.778 5.778 5 9 8.222 12.222 5l.778.778L9.778 9z\'%3E%3C/path%3E%3C/svg%3E';
$success: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 36 36\'%3E%3Ccircle r=\'18\' cx=\'18\' cy=\'18\' fill=\'%231bb240\'%3E%3C/circle%3E%3Cpolygon fill=\'%23fff\' transform=\'translate(2, 3)\' points=\'14 22.5 7 15.2457065 8.99985857 13.1732815 14 18.3547104 22.9729883 9 25 11.1005634\'%3E%3C/polygon%3E%3C/svg%3E';
$ok: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 15 11\'%3E%3Cpath fill=\'%231bb240\' d=\'M.414 5.843L1.627 4.63l3.472 3.472L13.202 0l1.212 1.213L5.1 10.528z\'%3E%3C/path%3E%3C/svg%3E';
$retry: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 8 10\'%3E%3Cpath fill=\'white\' d=\'M4 2.408a2.75 2.75 0 1 0 2.75 2.75.626.626 0 0 1 1.25.018v.023a4 4 0 1 1-4-4.041V.25a.25.25 0 0 1 .389-.208l2.299 1.533a.25.25 0 0 1 0 .416l-2.3 1.533A.25.25 0 0 1 4 3.316v-.908z\'%3E%3C/path%3E%3C/svg%3E';
$question: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 512 512\'%3E%3Cpath fill=\'%23777\' d=\'M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z\'%3E%3C/path%3E%3C/svg%3E';
$spinner: '%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'14\' height=\'14\'%3E%3Cpath fill=\'%232275d7\' d=\'M13.983 6.547c-.12-2.509-1.64-4.893-3.939-5.936-2.48-1.127-5.488-.656-7.556 1.094C.524 3.367-.398 6.048.162 8.562c.556 2.495 2.46 4.52 4.94 5.183 2.932.784 5.61-.602 7.256-3.015-1.493 1.993-3.745 3.309-6.298 2.868-2.514-.434-4.578-2.349-5.153-4.84a6.226 6.226 0 0 1 2.98-6.778C6.34.586 9.74 1.1 11.373 3.493c.407.596.693 1.282.842 1.988.127.598.073 1.197.161 1.794.078.525.543 1.257 1.15.864.525-.341.49-1.05.456-1.592-.007-.15.02.3 0 0\'%3E%3C/path%3E%3C/svg%3E';

.smeu-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;

  &.folder,
  &.arrow-up {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 0;
    background-color: transparent;
    background-image: url('data:image/svg+xml, #{$folder}');
  }

  &.arrow-up {
    margin-bottom: 5px;
    background-image: url('data:image/svg+xml, #{$arrow-up}');
  }

  &.list {
    border-radius: 0;
    background-image: url('data:image/svg+xml, #{$list}');
  }

  &.thumb {
    border-radius: 0;
    background-image: url('data:image/svg+xml, #{$thumb}');
  }

  &.sort {
    transform: rotate(90deg);
    border-radius: 0;
    background-image: url('data:image/svg+xml, #{$sort}');
  }

  &.success {
    background-image: url('data:image/svg+xml, #{$success}');
  }

  &.delete {
    background-image: url('data:image/svg+xml, #{$delete}');
  }

  &.upload {
    background-image: url('data:image/svg+xml, #{$upload}');
  }

  &.warn {
    background-image: url('data:image/svg+xml, #{$warn}');
  }

  &.verify {
    background-image: url('data:image/svg+xml, #{$verify}');
  }

  &.file {
    background-image: url('data:image/svg+xml, #{$file}');
  }

  &.text {
    background-image: url('data:image/svg+xml, #{$text}');
  }

  &.image {
    background-image: url('data:image/svg+xml, #{$image}');
  }

  &.audio {
    background-image: url('data:image/svg+xml, #{$audio}');
  }

  &.video {
    background-image: url('data:image/svg+xml, #{$video}');
  }

  &.pdf {
    background-image: url('data:image/svg+xml, #{$pdf}');
  }

  &.archive {
    background-image: url('data:image/svg+xml, #{$archive}');
  }

  &.plus {
    background-image: url('data:image/svg+xml, #{$plus}');
  }

  &.play {
    background-image: url('data:image/svg+xml, #{$play}');
  }

  &.pause {
    background-image: url('data:image/svg+xml, #{$pause}');
  }

  &.stop {
    background-image: url('data:image/svg+xml, #{$stop}');
  }

  &.ok {
    width: 15px;
    height: 11px;
    background-image: url('data:image/svg+xml, #{$ok}');
  }

  &.retry {
    background-color: transparent;
    background-image: url('data:image/svg+xml, #{$retry}');
  }

  &.question {
    background-image: url('data:image/svg+xml, #{$question}');
  }

  &.spinner {
    width: 14px;
    height: 14px;
    animation: spinner 0.7s linear infinite;
    border: 2px solid white;
    border-radius: 50%;
    background-image: url('data:image/svg+xml, #{$spinner}');
  }

  &.border {
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 16px;
      content: '';
      transform: translate(-50%, -50%);
      border: 2px solid white;
      border-radius: 50%;
    }
  }

  & + span {
    margin: 0 0 0 10px;
  }
}

.smeu-preview-icon-inner-wrap {
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 0 0 0 26px;
  border-radius: 3px;
  background-color: #eee;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

  .smeu-preview-icon-wrap {
    position: relative;
    height: 76px;
    max-height: 75%;

    .smeu-preview-icon {
      position: absolute;
      z-index: 100;
      top: 50%;
      left: 50%;
      width: 38px;
      height: 38px;
      transform: translate(-50%, -50%);

      .smeu-icon {
        width: 38px;
        height: 38px;
      }
    }

    .smeu-preview-icon-bg {
      display: block;
      width: 58px;
      height: 76px;
      border-radius: 3px;
      background-color: white;
    }
  }
}

.smeu-size-sm,
.smeu-size-md,
.smeu-size-lg,
.smeu-size-xl {
  .smeu-preview-icon-inner-wrap {
    width: 100%;
    height: 112px;
    margin: 0;
  }
}

.smeu-theme-promo {
  .smeu-icon {
    &.folder,
    &.arrow-up {
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
    }

    &.spinner {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: white;
    }
  }

  .smeu-preview-icon-inner-wrap {
    width: 116px;
    height: 112px;
    margin: 0;
  }
}

.smeu-list {
  .smeu-file {
    .smeu-icon {
      &.border:after {
        border: 0;
      }
    }
  }
}
