/* ===== base ===== */

body {
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #48637c;
}

h1, h2, h3, h4, h5 {
  font-weight: 100;
  color: #4F87BB;
}

h5 {
  font-weight: 200;
}

pre {
  display: inline;
  color: #4F87BB;
}

.ma-showhide:hover {
  cursor: pointer;
  /*text-decoration: underline;*/
}

.ma-monospace {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 11px;
}

.ma-progress {
  height: 5px;
}

.ma-app__loading {
  text-align: center;
  display: block;
  font-size: 24px;
  font-weight: 100;
  margin-top: 200px;
  color: #4F87BB;
}

/* ===== effects ===== */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.ma-fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  animation-duration: 0.6s;

  /*-webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;*/
}

/* ===== custom svg fonts ===== */
.icon-ma-icon__prores, .icon-ma-icon__mpeg2 {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 25px;
  color: #4F87BB;
}

.icon-ma-icon__chevronright, .icon-ma-icon__chevrondown {
  font-size: 18px;
}

/* ===== modules ===== */

/* ===== header ===== */
.ma-header__logo--rca {
  height: 35px;
  margin-top: 12px;
}

.ma-header__title {
  margin-bottom: 60px;
}

/* ===== nav ===== */
.ma-nav {
    margin-top: 40px;
    /*position:fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    display: relative;
    overflow-x: hidden;
    margin-right: 50px;*/
}

.ma-nav__item-indent {
  padding-left: 20px;
}

.ma-nav__separator {
  height: 15px;
}


/* ===== file ===== */
.ma-file__panel {
  display: block;
  border-color: #4F87BB;
  border-style: dashed;
  border-width: 2px;
  margin-bottom: 20px;
  margin: auto;
  width: 600px;
}

.ma-file__stats {
  margin-top: 10px;
}

.ma-file__dz--hidden {
  display: none;
}

/* ===== validations ===== */
.ma-validations {
  display: block;
  margin-top: 150px;
}

.fa-check-circle {
  color: #6FD66F;
}

.fa-times-circle {
  color: red;
}

.fa-warning {
  color: orange;
}

/* ===== format ===== */
.ma-format__module {
  margin-top: 1000px;
}
.ma-format__pass {
  background-color: rgba(0, 220, 41, 0.07);;
}

.ma-format__fail {
  background-color: rgba(255, 125, 125, 0.26);;
}

.ma-format__message {
  color: rgba(255, 54, 54, 0.65);
  padding-left: 18px;
  font-style: italic;
}

/* ===== black ===== */
.ma-black__module {
  display: block;
  /*margin-top: 200px;*/
  height: 100px;
}

/* ===== mono ===== */
.ma-mono__module {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ma-mono__segment--link:hover {
  cursor: pointer;
}

.ma-mono__segment--link {
  color: #8DBDE6;
}
.ma-mono__message {
  margin-top: 15px;
  margin-left: 15px;
}

/* ===== metadata ===== */
.ma-metadata__module {
  display: block;
  margin-top: 20px;
}

.ma-metadata__block{
  margin-top: 20px;
  margin-bottom: 35px;
}
