/* ===== global ===== */

body {
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #48637c;
}

h1, h2, h3 {
  font-weight: 100;
  color: #4F87BB;
}

.ma-progress {
  height: 5px;
}

.ma-app__loading {
  text-align: center;
  display: block;
  margin-top: 200px;
  color: #4F87BB;
}

/* ===== header ===== */
.ma-header-logo__rca {
  height: 25px;
  margin-top: 20px;
}

/* ===== nav-left ===== */
.ma-nav-left {
    margin-top: 40px;
}


/* ===== handle-files ===== */

/* ===== detect-black ===== */

/* ===== detect-mono ===== */

/* ===== extract-metadata ===== */
