/* ===== base ===== */

body {
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #48637c;
}

h1, h2, h3 {
  font-weight: 100;
  color: #4F87BB;
}

.ma-progress {
  height: 5px;
}

.ma-app__loading {
  text-align: center;
  display: block;
  margin-top: 200px;
  color: #4F87BB;
}

/* ===== modules ===== */

/* ===== header ===== */
.ma-header__logo--rca {
  height: 25px;
  margin-top: 20px;
}

.ma-header__title {
  margin-bottom: 30px;
}

/* ===== nav ===== */
.ma-nav {
    margin-top: 40px;
    /*position:fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    display: relative;
    overflow-x: hidden;
    margin-right: 50px;*/
}

.ma-nav__item-indent {
  padding-left: 20px;
}

.ma-nav__separator {
  height: 15px;
}


/* ===== file ===== */

/* ===== validations ===== */
.ma-validations {
  margin-top: 150px;
}

.fa-check-circle {
  color: green;
}

.fa-times-circle {
  color: red;
}

.fa-warning {
  color: yellow;
}

/* ===== black ===== */

/* ===== mono ===== */

/* ===== format ===== */
.ma-format__pass {
  background-color: rgba(0, 220, 41, 0.07);;
}

.ma-format__fail {
  background-color: rgba(255, 125, 125, 0.26);;
}

.ma-format__message {
  color: red;
}

/* ===== metadata ===== */
