body {
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #48637c;
}

h1, h2, h3 {
  font-weight: 100;
  color: #4F87BB;
}

.ma-video-header {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ma-header-title {
  padding-left: 25px;
  padding-top: 10px;
}

.ma-loading__message {
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 200px;
  font-weight: 100;
  font-size: 30px;
  color: #4F87BB;
}
