/* ===== base ===== */

body {
  font-family: proxima_nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #48637c;
}

h1, h2, h3 {
  font-weight: 100;
  color: #4F87BB;
}

.ma-progress {
  height: 5px;
}

.ma-app__loading {
  text-align: center;
  display: block;
  margin-top: 200px;
  color: #4F87BB;
}

/* ===== modules ===== */

/* ===== header ===== */
.ma-header-logo__rca {
  height: 25px;
  margin-top: 20px;
}

/* ===== nav ===== */
.ma-nav {
    margin-top: 40px;
}

.ma-nav__item-indent {
  padding-left: 20px;
}

.ma-nav__separator {
  height: 15px;
}


/* ===== file ===== */


/* ===== black ===== */

/* ===== mono ===== */

/* ===== metadata ===== */
