.progress-bar-container {
  p {
    position: relative;
    min-width: 110px;

    &:after {
      position: absolute;
      right: 0;
      content: attr(data-value) '%';
    }
  }

  progress[value] {
    position: relative;
    width: 100%;
    height: 14px;
    margin: 0;
    border: none;
    border-radius: 3px;
    appearance: none;

    &::-webkit-progress-bar {
      border-radius: 3px;
    }

    &::-webkit-progress-value {
      position: relative;
      animation: animate-stripes 5s linear infinite;
      border-radius: 3px;
      background-size: 35px 20px, 100% 100%, 100% 100%;

      &:after {
        position: absolute;
        top: 7px;
        right: 7px;
        width: 5px;
        height: 5px;
        content: '';
        border-radius: 100%;
      }
    }

    &::-moz-progress-bar {
      border-radius: 3px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
    }
  }

  .progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 3px;

    span {
      display: block;
      text-indent: -9999px;
      border-radius: 3px;
    }
  }
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}
