.progress-bar-container {
  p {
    position: relative;

    &:after {
      position: absolute;
      right: 0;
      content: attr(data-value) '%';
    }
  }

  progress[value] {
    position: relative;
    width: 100%;
    height: 2px;
    margin: 0 0 10px;
    border: none;
    appearance: none;
  }

  .progress-bar {
    width: 100%;

    span {
      display: block;
      text-indent: -9999px;
    }
  }
}
