<header>
  <section>
    <nav>
      <div class="main-logo">
        <a href="/" class="main-logo-link">
          <i class="main-logo-icon"></i>
          Media Analysis
          <small>Client Side</small>
          <span class="badge">demo</span>
        </a>
      </div>

      <ul class="main-menu">
        <li>
          <a href="/uploader/" target="_blank" class="nav-link ext">Uploader</a>
        </li>
        <li>
          <a href="/sme-uploader/" target="_blank" class="nav-link ext">SME Uploader</a>
        </li>
        <li>
          <a href="https://github.com/mattcarp/media-analysis/" target="_blank" rel="noopener" class="nav-link ext">GitHub</a>
        </li>
        <li>
          <button (click)="onAboutClick()" class="nav-link">About</button>
        </li>
      </ul>
    </nav>
  </section>
</header>

<main>
  <aside>
    <h2>
      Uploader:
      <small class="badge">
        <i class="sme-uploader-logo-icon"></i>
        SME Uploader v.{{uploaderVer}}
      </small>
    </h2>
    <app-uploader
      (addedFilesEmit)="handleAddedFiles($event)"
      (removedFilesEmit)="handleRemovedFiles($event)"
      (uploadedFilesChangedEmit)="handleUploadedFilesChanged($event)">
    </app-uploader>
  </aside>

  <article>
    <h2>
      Analysis:
      <small class="badge" [class.active]="files.length && !isDDP(files)">Audio/Video/Image</small>
      <small class="badge" [class.active]="files.length && isDDP(files)">DDP</small>
    </h2>

    <section>
      <app-media-files *ngIf="!isDDP(files)" [files]="files"></app-media-files>
      <app-ddp-files *ngIf="isDDP(files)" [files]="files"></app-ddp-files>
    </section>
  </article>
</main>

<app-modal modalId="aboutModal" modalTitle="Media Analysis v.{{verUI}}" closeBtn="true">
  <app-modal-about></app-modal-about>
</app-modal>
