@import '../theming';

// Page Style
// -------------------------------
header {
  text-align: center;
  border-bottom: 1px solid $color-lightgray;
  background-color: $color-white;
  scroll-behavior: smooth;
}

aside {
  position: relative;

  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 40px);
    color: red;
  }
}

article {
  section {
    position: relative;
    border: 1px solid $color-lightgray;
  }
}

// Main Logo
// -------------------------------
.main-logo {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;

  @media #{$screen-medium} {
    margin-right: 15px;
  }

  &-link {
    position: relative;
    display: flex;
    align-items: center;
    font: 100 26px/1 'Mulish';
    text-decoration: none;
    color: $color-primary;
    outline: none;

    small {
      &:before {
        display: inline-block;
        width: 1px;
        height: 26px;
        margin: 0 10px -5px 10px;
        content: '';
      }
    }

    .badge {
      font-size: 11px;
      text-transform: uppercase;
      background-color: #492e7c;
    }
  }

  &-icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0 10px 0 0;
    background-image: url('../assets/images/favicon.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: contain;

    @media #{$screen-medium} {
      width: 42px;
      height: 42px;
    }
  }
}

// Main Menu
// -------------------------------
.main-menu {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  text-align: center;

  li {
    position: relative;
    display: inline-block;
    margin: 0 0.3em;

    &:last-child {
      margin-right: 0;
    }

    button {
      padding: 0;
      background-color: transparent;
    }

    @media #{$screen-medium} {
      margin: 0 0.6em;
    }
  }
}

.nav-link {
  margin: 0;
  cursor: pointer;
  font-size: 0.85em;
  color: $color-gray;

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &.current {
    color: $color-dark;
  }

  &.current:after {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: -9px;
    left: 0;
    height: 2px;
    content: '';
    background-color: $color-primary;

    @media #{$screen-medium} {
      bottom: -20px;
    }
  }

  @media #{$screen-medium} {
    font-size: 1em;
  }
}

.sme-uploader-logo-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 5px 0 0;
  background-image: url('../assets/images/sme-uploader.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
}

.curved-arrow {
  position: absolute;
  z-index: 2;
  top: 188px;
  right: -60px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  opacity: 0;

  &.input {
    transform: rotate(200deg);
  }

  &.output {
    top: 230px;
    transform: rotate(18deg);
  }

  .triangle {
    box-sizing: border-box;
    width: 25px;
    height: 50px;
    margin-top: 24px;
    border-top: 25px solid transparent;
    border-right: 50px solid #509804;
    border-bottom: 25px solid transparent;
  }

  .curve {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border-top: 10px solid transparent;
    border-right: transparent 20px solid;
    border-bottom: #509804 solid 20px;
    border-radius: 0 10px 60px 0;
  }

  &.animation-fadeOut {
    animation-name: fadeOut;
    animation-fill-mode: both;
    animation-duration: 1.5s;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
