<div class="card alert alert-danger" [hidden]="!ffprobeErr">
  <h3>Bummer</h3>
  <p>
    The analyzer returned the following error:
  </p>
  <p>
    {{ffprobeErr}}
  </p>
</div>
  <div [hidden]="!metadata">

  <div  (click)="toggleMetadata()" [hidden]="showMetadata" >
      <span class="icon-ma-icon__chevronright pull-xs-left"></span>
      <h4 class="ma-showhide">&nbsp; Show Additional Metadata</h4>
  </div>

  <div  (click)="toggleMetadata()" [hidden]="!showMetadata">
    <span class="icon-ma-icon__chevrondown pull-xs-left"></span>
    <h4 class="ma-showhide">&nbsp; Hide Metadata</h4>
  </div>


    <div class="ma-metadata" [hidden]="!showMetadata">

      <div class="col-xs-10 ma-metadata__block" [hidden]="!format">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">format</h4>
          </li>

          <li class="list-group-item" *ngFor="let item of format">
            <span class="col-xs-5"><b>{{item.key}}</b></span>
            <span>{{item.value}}</span>
          </li>
        </ul>
      </div>

      <div class="col-xs-10 ma-metadata__block" [hidden]="!formatTags">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">format tags</h4>
          </li>

          <li class="list-group-item" *ngFor="let item of formatTags">
            <span class="col-xs-5"><b>{{item.key}}</b></span>
            <span>{{item.value}}</span>
          </li>
        </ul>
      </div>


      <div class="col-xs-10" [hidden]="!streams">
        <ul class="list-group ma-metadata__block" *ngFor="let stream of streams; let idx = index">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">stream {{idx}}</h4>
          </li>

          <li class="list-group-item" *ngFor="let item of stream">
            <span class="col-xs-5"><b>{{item.key}}</b></span>
            <span>{{item.value}}</span>
            <div [hidden]="item.key !== 'Disposition'">disp, hoss: {{item.value}}</div>
          </li>
        </ul>
      </div>

    </div>
    <!-- /ma-metadata -->
</div>

<br>
<br>
