<div class="alert-danger" *ngIf="ffprobeErr">
  <h3>Bummer</h3>
  <p>The analyzer returned the following error:</p>
  <p>{{ffprobeErr}}</p>
</div>

<div *ngIf="metadata">
  <div (click)="toggleMetadata()" class="toggle-container">
    <h3>Metadata</h3>
    <span *ngIf="!showMetadata">[+]</span>
    <span *ngIf="showMetadata">[–]</span>
  </div>

  <div *ngIf="showMetadata" (click)="toggleMetadata()" class="ma-metadata">
    <div *ngIf="format">
      <h4>Format</h4>
      <dl *ngFor="let item of format">
        <dt>{{item.key}}</dt>
        <dd>{{item.value}}</dd>
      </dl>
    </div>

    <div *ngIf="formatTags">
      <h4>Format Tags</h4>
      <dl *ngFor="let item of formatTags">
        <dt>{{item.key}}</dt>
        <dd>{{item.value}}</dd>
      </dl>
    </div>

    <div *ngIf="streams?.length">
      <div *ngFor="let stream of streams; let idx = index">
        <h4>Stream {{idx}}</h4>
        <div *ngFor="let item of stream" [ngClass]="{'stream': isItemWithLinearValue(item?.value)}">
          <ng-container *ngIf="isItemWithLinearValue(item?.value); else disposition">
              <dl>
                <dt>{{item.key}}</dt>
                <dd>{{item.value}}</dd>
              </dl>
          </ng-container>

          <ng-template #disposition>
            <div *ngFor="let childItem of processObject(item.value); let first = first" class="disposition">
              <h4 *ngIf="first">Stream {{idx}} ─ {{item?.key}}</h4>
              <dl>
                <dt>{{childItem?.key}}</dt>
                <dd>{{childItem?.value}}</dd>
              </dl>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
