*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
