section {
  p {
    margin: 0 0 20px;
    font-size: 17px;
    line-height: 1.4;
    color: #aaa;
  }
}


.file-type {
  .ma-table-header,
  .ma-table-data {
    grid-template-columns: minmax(40px, 1fr) 200px 102px;
  }

  .ma-table-data {
    & > div {
      display: flex;
      align-items: center;

      &:nth-child(3n+1) {
        .la-file-audio {
          color: #b9b889;
        }
        .la-file-video {
          color: #517f57;
        }
        .la-file-image {
          color: #777;
        }
      }

      &:nth-child(3n+2) {
        flex-direction: column;
        text-align: center;
      }
    }

    &:hover {
      & > div {
        background-color: rgba(255,255,255,0.1);
      }
    }
  }
}

.footnote {
  position: relative;
  margin: 30px 0 20px;
  padding: 10px 0 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 1px;
    content: '';
    background-color: #777;
  }
}

a {
  text-decoration: none;
}
