<h1>{{title}}</h1>
<br>
<h4>please choose a media file</h4>
<br>
<input type="file" id="files" name="file" />
<br><br>
  <div class="file-info" style="display: none">
    analyzing <strong><span class="file-name"></span></strong>, which is 
    <strong><span class="file-size"></span></strong> 
    bytes long, and was last modified <strong><span class="file-lastmod"></span></strong>
  </div>
<br>
<div class="errors alert alert-danger" style="display: none">
  <strong>Bummer &mdash;</strong> the analyzer returned: <br>
  <br>
  <strong><div class="error-message center-block"></div></strong>
  <br>
  Future improvements: a 'debug mode'
  <br><br>
  <ul>
    <li>User can choose byte range to analyze</li>
    <li>The bytes that were read can optionally be displayed in the view</li>
    <li>System re-tries using incrementally larger byte slices</li>
    <li>System re-tries with a read from the tail of the file</li>
  </ul>
  <br>
  If you see this message please contact matt.carpenter@asburymedia.com
</div>
<div class="row">
  <div class="format-section col-sm-6" style="display: none">
  <h4>format</h4>
  <table id="format" class="table table-sm table-striped">
    <thead>
      <th class="col-sm-5">property</th>
      <th class="col-sm-5">value</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
  <div class="streams-section col-sm-6" style="display: none">
  <h4>streams</h4>
  <table id="streams" class="table table-sm table-striped">
    <thead>
      <th class="col-sm-5">property</th>
      <th class="col-sm-7">value</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div> <!--streams-section-->
</div> <!--row-->