<ng-container *ngIf="hashFiles$ | async as hashFiles">
  <p>
    <strong>{{hashFiles?.length}} hash files found.</strong>
    Would you like to verify them?
    <button (click)="verifyHashes(hashFiles)">Yes, verify hashes</button>
  </p>

  <div class="ma-table-header">
    <div #a1>Hash File</div>
    <div #a2>Last Modified</div>
    <div #a3>Provided Hash</div>
    <div #a4>Computed Hash</div>
    <div #a5>Result</div>
  </div>

  <ng-container *ngFor="let hashEntry of hashFiles">
    <div class="ma-table-data"
         [ngClass]="{
          'ddp-hash-match': hashEntry?.hash === hashEntry?.computedHash,
          'ddp-hash-mismatch': isVerified && hashEntry?.hash !== hashEntry?.computedHash && !(hashEntry?.progress > 0)
         }">
      <div #b1>{{hashEntry?.targetFileName}}</div>
      <div #b2>{{hashEntry?.lastModified}}</div>
      <div #b3 class="ellipsis">{{hashEntry?.hash}}</div>
      <div #b4 class="ellipsis">{{hashEntry?.computedHash}}</div>
      <div #b5>
        <progress
          *ngIf="hashEntry?.progress < 100"
          value="{{hashEntry?.progress}}"
          max="100"
          class="progress">
        </progress>
        <i *ngIf="!isVerified && !hashEntry?.computedHash && !(hashEntry?.progress > 0)"
           class="ma-icon question"></i>
        <i *ngIf="hashEntry?.hash === hashEntry?.computedHash"
           class="ma-icon success"></i>
        <i *ngIf="isVerified && hashEntry?.hash !== hashEntry?.computedHash && !(hashEntry?.progress > 0)"
           class="ma-icon error"></i>
      </div>
    </div>
  </ng-container>
</ng-container>
