@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?6t2oa8');
    src:    url('fonts/icomoon.eot?6t2oa8#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?6t2oa8') format('truetype'),
        url('fonts/icomoon.woff?6t2oa8') format('woff'),
        url('fonts/icomoon.svg?6t2oa8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-sony_logo:before {
    content: "\e901";
}
.icon-rca:before {
    content: "\e902";
}
.icon-ao-prores:before {
    content: "\e900";
}
