.audio {
  &-actions {
    display: flex;
    align-items: center;
    margin: 0 0 10px;

    & > * {
      margin: 0 6px 0 0;
    }
  }

  &-waveform {
    position: relative;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
