.accordion-panel {
  background-color: white;

  &-title {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    background-color: #efefef;
    font-size: 16px;
    font-weight: 700;

    span {
      color: #0F7FC4;
      font-weight: normal;
      font-size: 14px;
    }
  }

  &-content {
    padding: 10px;

    &.hidden {
      display: none;
    }
  }
}
