<app-accordion>
  <app-accordion-group title="Validations" [resultValidation]="getResultValidation()">
    <app-video-validations [file]="file" (outputEmit)="handleResultValidation($event)"></app-video-validations>
  </app-accordion-group>

  <app-accordion-group title="Player">
    <app-video-player [file]="file"></app-video-player>
  </app-accordion-group>

<!--
  <h3>Video
    <i *ngIf="videoFormat === 'prores'" class="icon-prores">ProRes</i>
    <i *ngIf="videoFormat === 'mpeg2video'" class="icon-mpeg2">MPEG-2</i>
  </h3>
  <h3>Audio</h3>
-->

  <app-accordion-group title="Metadata">
    <app-video-metadata [file]="file"></app-video-metadata>
  </app-accordion-group>
</app-accordion>
