<div *ngIf="metadataStarted">
  <h3>Validating format metadata...</h3>
</div>

<div *ngIf="showResults">
  <h2>{{proResMsg}}</h2>

  <div *ngIf="videoValidations?.length">
    <h3>Video
      <i *ngIf="videoFormat === 'prores'" class="icon-prores">ProRes</i>
      <i *ngIf="videoFormat === 'mpeg2video'" class="icon-mpeg2">MPEG-2</i>
    </h3>

    <dl *ngFor="let item of videoValidations">
      <dt>
        <i *ngIf="item.pass" class="ma-icon pass"></i>
        <i *ngIf="!item.pass" class="ma-icon error"></i>
        <i *ngIf="item.warn" class="ma-icon warn"></i>
        <span>{{item.name}}</span>
      </dt>
      <dd>
        {{item.value}}
        <span *ngIf="!item.pass" class="warn-message">→ {{item.message}}</span>
      </dd>
    </dl>
  </div>

  <div *ngIf="audioValidations?.length">
    <h3>Audio</h3>
    <dl *ngFor="let item of audioValidations">
      <dt>
        <i *ngIf="item.pass" class="ma-icon pass"></i>
        <i *ngIf="!item.pass" class="ma-icon error"></i>
        <i *ngIf="item.warn" class="ma-icon warn"></i>
        <span>{{item.name}}</span>
      </dt>
      <dd>
        {{item.value}}
        <span *ngIf="!item.pass" class="warn-message">→ {{item.message}}</span>
      </dd>
    </dl>
  </div>
</div>

<extract-metadata></extract-metadata>
