.accordion-panel {
  background-color: white;

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #cacaca;
    background-color: #efefef;

    div {
      display: flex;
      align-items: center;

      .ma-icon {
        margin: 0 8px 0 0;
      }
    }

    span {
      font-size: 14px;
      font-weight: normal;
      color: #0f7fc4;
    }
  }

  &-content {
    padding: 10px;

    &.hidden {
      display: none;
    }
  }
}
