.ddp-tooltip {
  position: relative;
  display: inline-block;
}

.ddp-tooltip .ddp-tooltip-text {
  visibility: hidden;
  width: 150px;
  background-color: rebeccapurple;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  padding-left: 8px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -75px;
  font-size: 90%;
}

.ddp-tooltip .ddp-tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #00529f transparent;
}

.ddp-tooltip:hover .ddp-tooltip-text {
  visibility: visible;
}
