<header>
  <section>
    <nav>
      <div class="main-logo">
        <a href="/" class="main-logo-link">
          <i class="main-logo-icon"></i>
          Media Analysis
          <small>Client Side</small>
          <span class="badge">demo</span>
        </a>
      </div>

      <ul class="main-menu">
        <li>
          <a href="/uploader/" target="_blank" class="nav-link ext">Uploader</a>
        </li>
        <li>
          <a href="/sme-uploader/" target="_blank" class="nav-link ext">SME Uploader</a>
        </li>
        <li>
          <a href="https://github.com/mattcarp/media-analysis/" target="_blank" rel="noopener" class="nav-link ext">GitHub</a>
        </li>
        <li>
          <button (click)="onAboutClick()" class="nav-link">About</button>
        </li>
      </ul>
    </nav>
  </section>
</header>

<main>
  <aside>
    <h2>Uploader:</h2>
    <app-uploader (addedFiles)="handleFilesListChange($event)"></app-uploader>
  </aside>

  <article>
    <h2>
      Analysis:
      <small class="badge" [class.active]="files.length && !isDDP">Audio/Video/Image</small>
      <small class="badge" [class.active]="files.length && isDDP">DDP</small>
    </h2>

    <section>
      <app-detect-black></app-detect-black>

      <ng-container *ngIf="!isDDP; else ddp">
        <div *ngFor="let file of files" class="container">
          <div class="file">
            <div class="file-state">
              <i class="ma-icon question"></i>
              <i *ngIf="file.analysed === 'pass'" class="ma-icon pass"></i>
              <i *ngIf="file.analysed === 'error'" class="ma-icon error"></i>
            </div>
            <div class="file-type" [ngClass]="setTypeClass(file.type)">
              <i class="ma-icon files"></i>
              <i class="ma-icon" [ngClass]="setTypeClass(file.type)"></i>
            </div>
            <div class="ellipsis file-name">{{file.name}}</div>
            <div class="file-size">{{prettierBytes(file.size)}}</div>
          </div>

          <app-analyze-image
            *ngIf="getFileType(file).includes('image')"
            (validateResult)="handleResult($event, file.id)"
            [file]=file>
          </app-analyze-image>

          <app-analyze-video
            *ngIf="getFileType(file).includes('video')"
            (validateResult)="handleResult($event, file.id)">
          </app-analyze-video>

          <app-analyze-audio *ngIf="getFileType(file).includes('audio')"></app-analyze-audio>

          <div *ngIf="file.analysed === 'null'" class="alert-danger">
            Analysis rules for files of type "<i><b>{{file.type}}</b></i>" not yet set.
          </div>
        </div>
      </ng-container>

      <ng-template #ddp>
        <app-analyze-ddp [files]="files"></app-analyze-ddp>
      </ng-template>
    </section>
  </article>
</main>

<app-modal modalId="aboutModal" modalTitle="About" closeBtn="true">
  <p>Media Analysis | Client v.{{verUI}}</p>
  <p>Analyzes file formats:</p>
  <dl>
    <dt>image</dt>
    <dd>in developing</dd>
    <dt>video</dt>
    <dd>in developing</dd>
    <dt>audio</dt>
    <dd>in developing</dd>
    <dt>DDP</dt>
    <dd>✔</dd>
  </dl>
</app-modal>
