<header>
  <i class="logo"></i>
  <h1>
    Media Analysis
    <small>Client Side</small>
    <span>demo</span>
  </h1>
</header>

<nav>
  <section class="header">
    <div #a1>File will be checked for compatibility</div>
    <div #a2>History</div>
  </section>
  <section>
    <div #b1>
      <handle-files></handle-files>
    </div>
    <div #b2>
      <!-- TODO: need add history -- icons of previously inserted files -->
      <history-files></history-files>
    </div>
  </section>
</nav>

<main>
  <div #c1>
    <!-- TODO: need add player/viewer -->
    <p class="place">
      Place for:
      <br>- player if video file
      <br>- viewer/slider if image file
      <br>- viewer if doc/pdf file
    </p>
  </div>

  <div #c2>
    <h2>Validations</h2>
    <section [hidden]="!metadataResult">
      <validate-format></validate-format>
      <detect-black></detect-black>
      <!-- TODO refactor mono to 'audio signal analysis' -->
      <detect-mono></detect-mono>
      <extract-metadata></extract-metadata>
    </section>
    <section *ngIf="!metadataResult" class="pseudo-data"></section>
  </div>
</main>

<footer>
  <upload-file></upload-file>
</footer>
