<div class="ddp-validations-content">
  <h3>Validations</h3>
  <div *ngIf="hasValidations">

    <ddp-tooltip class="pull-right" [tooltipText]="'all file parsing and validations completed in ' +
      totalValidationTime + ' milliseconds'" [tooltipTarget]="'fa fa-tachometer'">
    </ddp-tooltip>

    <div>passed {{validations?.totalPasses}} tests</div>
    <!--<hr>-->
    <div *ngIf="validations?.totalFails > 0" class="alert alert-danger">

      <strong>This DDP failed {{validations?.totalFails}} test</strong>
      <span *ngIf="validations?.missingFiles?.length > 1">
            most likely because not all required files were submitted</span>
      <br>
      <br>
      <div *ngIf="validations?.missingFiles?.length">
        <h6>Missing Files</h6>
        <ul>
          <li *ngFor="let file of validations?.missingFiles"><i class="fa fa-exclamation-triangle"></i>&nbsp;{{file?.name}}, which is required in
            the map stream and
            should
            be {{file?.reqSize | number}} bytes, was not found in the directory
          </li>
        </ul>
      </div>

      <div *ngIf="validations?.pqMsIssues?.length">
        <h6>There were {{pqMsIssues?.length}} PQ - MS Mismatches (see above)</h6>
      </div> <!-- pq ms issues -->

      <div *ngIf="validations?.sizeMismatches?.length">
        <h6>File Size Mismatches</h6>

        <ul>
          <li *ngFor="let file of validations?.sizeMismatches"><i class="fa fa-exclamation-triangle"></i> &nbsp;{{file?.name}}
            was found, but the
            map stream indicates
            should be {{file?.reqSize | number}} bytes, and it was {{file?.actualSize | number}}
            bytes, which is a
            difference of {{(file?.reqSize - file?.actualSize) | number}}.
            <!--<ng-pluralize count="{{ file.diff }}"-->
            <!--when="{'1': 'one byte', 'other': '{{ file.diff | number }} bytes'}"></ng-pluralize>-->
            <span
              *ngIf="file?.diff < 3 && file?.diff > 0">
            However, in cases like this where the actual file is larger than the required by a small number of bytes,
              the discrepancy is normally considered acceptable because it likely represents an extra carriage return / line feed.</span>
            <span
              *ngIf="file?.diff < 0">. Some information may be missing in {{file?.name}}.</span>
            <span
              *ngIf="file?.diff >2">. There may be extraneous information in {{file?.name}}.</span>
          </li>
        </ul>
      </div> <!-- size mismatches -->
    </div> <!-- has failures -->
    <br>

    <table class="table table-sm">
      <thead>
      <tr>
        <th>Files Found</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of validations?.foundFiles" class="ddp-success-row">
        <td><i class="fa fa-check-circle-o ddp-icon-success"></i> &nbsp;
          {{file?.name}}, which is required in the map stream, was found in the directory</td>
      </tr>
      </tbody>
    </table>
    <div class="ddp-success">
      <table class="table table-sm">
        <thead>
        <tr>
          <th>File Size Matches</th>
        </tr>
        </thead>
        <tbody>
        <tr [hidden]="!validations?.sizeMatches?.length">
        <tr *ngFor="let file of validations?.sizeMatches">
          <td *ngIf="file?.name !== 'DDPID'">
            <i class="fa fa-check-circle-o ddp-icon-success"></i>  &nbsp;
            {{file?.name}} was the same size ({{file?.reqSize | number}} bytes)
            as predicted in the map stream
          </td>
          <td *ngIf="file?.name === 'DDPID' "><i class="fa fa-check-circle-o"></i> &nbsp;
            {{file?.name}} was the size
            ({{file?.reqSize | number}} bytes) indicated by the DDP 2.0 specification (the id file is not
            referenced in the map stream)
          </td>
        </tr> <!-- size matches -->
        </tbody>
      </table>
    </div>
  </div> <!-- passing tests -->
</div>
