.ddp-validations-content {
  padding-left: 40px;
  padding-right: 40px;
}

.alert-danger {
  color: #e54145;
  background-color: #d8dbe1;
  border: none;
}

.ddp-success-row {
  color: #c7d1d5;
  /*background-color: #d8dbe1;*/
  border: none;
}

.ddp-icon-success {
  color: green;
}

hr {
  color: white;
}


li {
  list-style-type: none;
}

.fa.fa-exclamation-triangle {
  font-size: 15px;
  color: #e54145;
}


