.ddpms-card {
  display: grid;
  grid-template-columns: 120px 1fr;

  .image {
    display: block;
    width: 120px;
    height: 80px;
    margin: 0 0 10px;
    background: url('../../../../assets/images/cd.jpeg') top center no-repeat;
    background-size: contain;
  }
}

.ma-table-header,
.ma-table-data {
  grid-template-columns: 1fr 40px 90px repeat(6, 44px) 60px 40px 100px;
}

.ma-table-data {
  & > div:last-child {
    text-align: right;
  }
}
