@import 'mixins';

:host {
  &.smeu-theme-modern {
    .smeu-icon {
      width: 12px;
      height: 12px;
    }

    .smeu-dropdown {
      &-content {
        color: #777;
      }
    }
  }

  &.smeu-theme-promo {
    .smeu-icon {
      width: 20px;
      height: 20px;
    }

    .smeu-button {
      @include button-promo;
    }

    .smeu-dropdown {
      &-content {
        top: 38px;
        left: 20px;
      }
    }
  }
}

.smeu-dropdown {
  position: relative;
  display: inline-block;

  &-content {
    position: absolute;
    z-index: 10;
    top: 4px;
    left: 30px;
    min-width: 114px;
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
    border-bottom: 1px solid #eaeaea;
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);

    &-li {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      transition: background 0.3s;
      border: 1px solid #cfcfcf;
      border-bottom: none;

      &:hover {
        background-color: #cfcfcf;
      }
    }
  }
}
