<div class="ma-table file-type">
  <div class="ma-table-header">
    <div>Wikipedia</div>
    <div>Analyzes File Type</div>
    <div>Sample Files</div>
  </div>

  <div class="ma-table-data">
    <!-- M4A audio file -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/M4A" target="_blank" class="ext">M4A audio file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon question"></i>
      <span>rules not set</span>
    </div>
    <div>
      <a href="https://filesamples.com/formats/m4a" target="_blank" class="ext">Download</a>
    </div>
    <!-- FLAC audio file -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/FLAC" target="_blank" class="ext">FLAC audio file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/flac" target="_blank" class="ext">Download</a>
    </div>
    <!-- MP3 audio file -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/MP3" target="_blank" class="ext">MP3 audio file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/mp3" target="_blank" class="ext">Download</a>
    </div>
    <!-- WAV audio file -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/WAV" target="_blank" class="ext">WAV audio file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/wav" target="_blank" class="ext">Download</a>
    </div>
    <!-- WMA audio file -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
          <a href="https://en.wikipedia.org/wiki/WMA" target="_blank"
             class="ext">WMA (Windows Media Audio) audio file</a>
        </span>
    </div>
    <div>
      <i class="ma-icon error"></i>
      <span>rules not set</span>
    </div>
    <div>
      <a href="https://filesamples.com/formats/wma" target="_blank" class="ext">Download</a>
    </div>
    <!-- AAC audio file -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
          <a href="https://en.wikipedia.org/wiki/Advanced_Audio_Coding" target="_blank" class="ext">AAC (Advanced Audio Coding) audio file</a>
        </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/aac" target="_blank" class="ext">Download</a>
    </div>
    <!-- DDP -->
    <div>
      <i class="ma-icon audio"></i>
      <span>
          <a href="https://en.wikipedia.org/wiki/Disc_Description_Protocol" target="_blank" class="ext">DDP (Disc Description Protocol)</a>
          &nbsp;<sup>1)</sup>
        </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div></div>
    <!-- FLV video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Flash_Video" target="_blank" class="ext">FLV video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
      <span>playback in development</span>
    </div>
    <div>
      <a href="https://filesamples.com/formats/flv" target="_blank" class="ext">Download</a>
    </div>
    <!-- MP4 video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/MPEG-4_Part_14" target="_blank" class="ext">MP4 video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/mp4" target="_blank" class="ext">Download</a>
    </div>
    <!-- 3G2 video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/3GP_and_3G2" target="_blank" class="ext">3G2 video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon question"></i>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-3g2-file.3g2" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- MKV video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Matroska" target="_blank" class="ext">MKV video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mkv-file.mkv" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- OGV video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Theora" target="_blank" class="ext">OGV video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-ogv-file.ogv" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- MPG video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Moving_Picture_Experts_Group" target="_blank"
           class="ext">MPG video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
      <span>playback in development</span>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mpg-file.mpg" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- WMV video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Windows_Media_Video" target="_blank" class="ext">WMV (Windows Media Video) video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
      <span>playback in development</span>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-wmv-file.wmv" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- WEBM video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/WebM" target="_blank" class="ext">WEBM video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-webm-file.webm" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- AVI video file -->
    <div>
      <i class="ma-icon video"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Audio_Video_Interleave" target="_blank" class="ext">AVI video file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
      <span>playback in development</span>
    </div>
    <div>
      <a href="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-avi-file.avi" target="_blank"
         class="ext">Download</a>
    </div>
    <!-- PNG image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Portable_Network_Graphics" target="_blank" class="ext">PNG image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/png" target="_blank" class="ext">Download</a>
    </div>
    <!-- JPG image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/JPEG" target="_blank" class="ext">JPG image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/jpg" target="_blank" class="ext">Download</a>
    </div>
    <!-- TIFF image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/TIFF" target="_blank" class="ext">TIFF image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon error"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/tiff" target="_blank" class="ext">Download</a>
    </div>
    <!-- BMP image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/BMP_file_format" target="_blank" class="ext">BMP image file</a>
      </span>
    </div>
    <div>
       <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/bmp" target="_blank" class="ext">Download</a>
    </div>
    <!-- GIF image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/GIF" target="_blank" class="ext">GIF image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
    </div>
    <div>
      <a href="https://upload.wikimedia.org/wikipedia/commons/2/2c/Rotating_earth_%28large%29.gif" target="_blank" class="ext">Download</a>
    </div>
    <!-- NEF image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Raw_image_format" target="_blank" class="ext">NEF image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon error"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/nef" target="_blank" class="ext">Download</a>
    </div>
    <!-- ORF image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/ORF_format" target="_blank" class="ext">ORF image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon error"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/orf" target="_blank" class="ext">Download</a>
    </div>
    <!-- CR2 image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Raw_image_format" target="_blank" class="ext">CR2 image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon error"></i>
    </div>
    <div>
      <a href="https://filesamples.com/formats/cr2" target="_blank" class="ext">Download</a>
    </div>
    <!-- PSD image file -->
    <div>
      <i class="ma-icon image"></i>
      <span>
        <a href="https://en.wikipedia.org/wiki/Adobe_Photoshop#File_format" target="_blank" class="ext">PSD image file</a>
      </span>
    </div>
    <div>
      <i class="ma-icon success"></i>
      <span>rendering in development</span>
    </div>
    <div>
      <a href="https://filesamples.com/formats/psd" target="_blank" class="ext">Download</a>
    </div>

  </div>
</div>

<div class="footnote">
  1) ─ If the list of uploading files contains DDPPQ, DDPMS and DDPID files, the <b>Pre-Flight Check</b> defines them as
  DDP.
</div>
