.file-type {
  .ma-table-header,
  .ma-table-data {
    grid-template-columns: minmax(40px, 1fr) 180px 102px;
  }

  .ma-table-data {
    & > div {
      background-color: white;

      &:nth-child(3n+2) {
        text-align: center;
      }
    }

    &:hover {
      & > div {
        background-color: white;
      }
    }
  }
}

.footnote {
  position: relative;
  margin: 30px 0 0;
  padding: 10px 0 0;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 1px;
    content: '';
    background-color: #1e1e1e;
  }
}

a {
  text-decoration: none;
}
