span.ddp-nav-link {
  color: rebeccapurple;
  /*text-align: center;*/
  font-weight: 200;
  margin-top: 20px;
  /*margin-left: 10px;*/
}

.nav-tabs {
  margin-left: 50px;
  margin-bottom: 35px;
}

.ddp-nav-link:hover {
  background-color: pink;
}

.ddp-nav-link.active {
  background-color: red;
}
