<div class="ddp-ddpid-content" *ngIf="hasId">
  <a name="ddpid"></a>
  <h3>DDPID</h3>
  <table class="table">
    <tbody>
    <tr>
      <td><strong>File Name: </strong>{{parsedId?.fileName}}</td>
      <td><strong>Last Modified: </strong>{{parsedId?.lastModified | date:'medium'}}</td>
      <td><strong>Size: </strong> {{parsedId?.fileSize}}</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>Version: </strong>{{parsedId?.ddpid}}</td>
      <td><strong>Type: </strong>{{parsedId?.type_ == 'DV' ? 'DVD' : parsedId?.type_}}</td>
      <td ng-show="mid"><strong>Master ID: </strong>{{parsedId?.mid}}</td>
      <td></td>
    </tr>
    <tr *ngIf="parsedId?.type_ === 'DV'">
      <td><strong>Total Sides: </strong>{{parsedId?.nside}}</td>
      <td><strong>Current Side: </strong>{{parsedId?.side}} <small> (0 represents the first side, 1 represents the second)</small></td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngIf="parsedId?.type_ === 'DV'">
      <td><strong>Total Layers: </strong>{{parsedId?.nlayer}}</td>
      <td><strong>Current Layer: </strong>{{parsedId?.layer}} <small> (0 represents the first layer, 1 represents the second)</small></td>
      <td></td>
      <td></td>
    </tr>
    <tr ng-show="upc">
      <td><strong>UPC/EAN: </strong>{{parsedId?.upc}}</td>
    </tr>
    <tr ng-show="txt">
      <td><strong>User Text: </strong>{{parsedId?.txt}}</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    </tbody>
  </table>
  <!--<div ng-if="idContainsMs && type_ == 'DV'" class="alert alert-inf"><strong>Map stream within the ID file: </strong>The DDPID file for this DVD contains the map stream. A DVD is permitted to have the map stream in the ID, or it can be in a separate map stream file (DDPMS).</div>-->
  <hr>
</div> <!-- hasId -->
