// Theming
// -----------------------------------------
// font faces
$fontFamily-body: 'PT Root UI', 'Helvetica Neue', Arial, sans-serif;
$fontFamily-logo: 'PT Root UI', 'Helvetica Neue', Arial, sans-serif;
$fontFamily-code: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', Courier, monospace;

// font sizes
$fontSize-body: 16px;
$fontSize-s: 15px;
$fontSize-m: 17px;
$fontSize-l: 24px;
$fontSize-xl: 28px;
$fontSize-code: 0.8em;

// colors
$color-white: #fff;
$color-black: #000;
$color-blue: #2275d7;
$color-darkblue: #15192a;
$color-dark: #231f20;
$color-medium: #646464;
$color-light: #7f8c8d;
$color-green: #42b983;
$color-border: #ddd;
$color-codebg: #f8f8f8;
$color-red: #f66;
$color-gray: #777;
$color-lightgray: #d9e2e3;
$color-darkgray: #34393a;
$color-violet: #492e7c;
$color-orange: #e96900;
$color-mint: #02b1ac;
$color-yellow: #ffd12a;
$color-pink: #f37;
$color-primary: #ff181f;

// sizes
$size-radius: 2px;
$size-headerHeight: 100px;
$size-asideWidth: 600px;
$size-mainWidth: 1fr;
$size-footerHeight: 0;
$gridColumnGapWidth: 20px;

// Media queries
$screen-medium: 'only screen and (min-width: 1024px)';
$screen-large: 'only screen and (min-width: 1150px)';

::-webkit-scrollbar {
  background-color: #1b171a;
}

::-webkit-scrollbar-thumb {
  background-color: red;
  box-shadow: 0 0 1px #eee;
}

body {
  color: $color-gray;
  background-color: $color-white;
}

aside {
  color: $color-white;
  background: radial-gradient(circle at 100% top, transparent -120%, #181818 100%);
}

main {
  color: #b3b3b3;
}

footer {
  color: $color-white;
  background-color: #282828;
}
