@import '~fontsource-mulish/index.css';
@import 'theming';
@import 'icons';

@mixin section() {
  max-width: $size-sectionWidth;
  height: 100%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

html,
body,
app-root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font: 300 14px/1 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

// Main Layout
// -------------------------------
app-root {
  display: grid;
  grid-template-columns: [line1] minmax(320px, auto) [line2];
  grid-template-rows: [row1] $size-headerHeight [row2] 1fr [row3] $size-consoleHeight [row4];

  header {
    grid-column: line1 / line2;
    grid-row: row1 / row2;

    section {
      @include section;

      nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100%;
        padding: 0 10px;
      }
    }
  }

  main {
    display: grid;
    overflow: hidden;
    grid-template-columns: [line1] minmax(380px, $size-uploaderWidth) [line2] minmax(380px, $size-validationWidth) [line3];
    grid-column-gap: $gridColumnGapWidth;
    grid-column: line1 / line2;
    grid-row: row2 / row3;
    margin: 0 auto;
    padding: 0 10px;

    aside {
      grid-column: line1 / line2;
    }

    article {
      grid-column: line2 / line3;

      section {
        overflow-y: auto;
        height: calc(100vh - #{$size-headerHeight} - 50px);
      }
    }
  }

  footer {
    grid-column: line1 / line2;
    grid-row: row3 / row4;

    section {
      @include section;
    }
  }
}

// Elements
// -------------------------------
h1,
h2,
h3,
h4 {
  display: flex;
  margin: 7px 0;
  font-weight: 400;
  line-height: 1.1;
  color: $color-medium;
  align-items: center;
}

h2 {
  small {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}

h3,
h4 {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;

  small {
    font-weight: normal;
  }
}

h4 {
  font-size: 15px;
}

a {
  text-decoration: none;
  word-break: break-word;
  color: $color-primary;

  &.ext:after {
    padding-right: 14px;
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQwIDc5LjE2MDQ1MSwgMjAxNy8wNS8wNi0wMTowODoyMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQ4RUJDOTZGRTBDOTExRTc5MERBQTJCNDQxQTQzODExIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQ4RUJDOTcwRTBDOTExRTc5MERBQTJCNDQxQTQzODExIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OENGOUI3QzBFMEM4MTFFNzkwREFBMkI0NDFBNDM4MTEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NDhFQkM5NkVFMEM5MTFFNzkwREFBMkI0NDFBNDM4MTEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6D7JNDAAAAYElEQVR42nSP3Q3AIAiE1bgXc7gBIzEBezDZNbRK1NBLeAC+46cCKLeY+Si2kqvO+BJVRUaZ2YLRN+cOgIgCbskEB3ZTDWiM8QJenKtCPTn4kIjk33njcP59t/p+xiPAAIgBI+Fw0CHaAAAAAElFTkSuQmCC') 100% 4px no-repeat;
  }
}

dl {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1px;
  align-items: center;

  dt,
  dd {
    display: flex;
    align-items: center;
    padding: 2px 5px;
  }
}

p {
  margin: 0 0 10px;
}

.row {
  display: flex;
  line-height: 1.4;

  .ma-icon {
    margin-right: 8px;
  }
}

.alert-danger {
  margin: 0 0 10px;
  padding: 10px;
  color: red;
  background-color: #ffecec;
}

.alert-success {
  margin: 0 0 10px;
  padding: 10px;
  color: #509804;
  background-color: #d1f3d8;
}

.warn-message {
  margin: 0 5px;
  color: red;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #cacaca;
  background-color: #efefef;

  span {
    font-size: 14px;
    font-weight: normal;
    color: #0f7fc4;
  }
}

pre {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 0 10px;
  white-space: pre-wrap;
}

.informer {
  position: absolute;
  z-index: -1000;
  right: 0;
  bottom: 60px;
  left: 0;
  transition: all 0.3s ease-in;
  transform: translateY(350%);
  text-align: center;
  opacity: 0;

  &.show {
    z-index: 1005;
    transition: all 0.25s ease-in;
    transform: none;
    opacity: 1;
  }

  p {
    display: inline-block;
    max-width: 90%;
    margin: 0;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    border-radius: 18px;
    background-color: #757575;
  }
}

button {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0;
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s linear;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  border: 0;
  border-radius: 3px;
  outline: none;
  background-color: #2275d7;

  &[disabled] {
    cursor: initial;
    background-color: #ddd;
  }
}

.modal {
  p {
    padding: 6px 0;
  }
}

.ma-table {
  overflow-x: auto;

  &-header,
  &-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1px;
    background-color: #9f9f9f;

    & > div {
      padding: 4px;
      background-color: #f9f9f9;
    }
  }

  &-header {
    margin: 0 0 1px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #9f9f9f;
  }

  &-data {
    &:hover {
      & > div {
        background-color: #e6e6e6;
      }
    }
  }
}

.ellipsis {
  display: block !important;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badge {
  margin: 0 0 0 10px;
  padding: 4px 12px;
  font-size: 14px;
  color: #777;
  border-radius: 20px;
  background-color: #eee;

  &.active {
    color: #fff;
    background-color: #492e7c;
  }
}
