@import '~fontsource-mulish/index.css';
@import 'theming';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

html,
body,
app-root,
app-files-upload,
app-file-actions,
app-about {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  font: 300 14px/1 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  will-change: transform;
}

// Main Layout
// -------------------------------
app-files-upload,
app-file-actions,
app-about {
  display: grid;
  grid-template-columns: [line1] $size-asideWidth [line2] $size-mainWidth [line3];
  grid-template-rows: [row1] $size-headerHeight [row2] 1fr [row3] $size-footerHeight [row4];
  grid-template-areas: "aside header" "aside main" ". footer";

  main {
    grid-area: main;
    grid-column: line2 / line3;
    grid-row: row1 / row3;

    header {
      grid-area: header;
      grid-column: line3 / line3;
      grid-row: row1 / row2;
      padding: 10px 10px 0;
      height: $size-headerHeight;
    }

    section {
      overflow-y: scroll;
      height: calc(100% - #{$size-headerHeight});
      padding: 10px;
    }
  }

  aside {
    grid-area: aside;
    grid-column: line1 / line2;
    grid-row: row1 / row3;
    display: flex;
    flex-direction: column;

    nav {
      padding: 10px 10px 0;
      background-color: rgba(150, 150, 150, 0.1);
      height: 100px;
    }

    section {
      width: 580px;
      height: 400px;
      margin: 30px 10px 10px;
    }
  }

  footer {
    grid-area: footer;
    grid-column: line1 / line3;
    grid-row: row3 / row4;
    padding: 10px;
  }
}

// Elements
// -------------------------------
app-root {
  display: block;
  position: relative;

  //&:before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  bottom: 0;
  //  left: 0;
  //  background-color: rgba(0,0,0,0.5);
  //}
}

h1,
h2,
h3,
h4 {
  display: flex;
  margin: 7px 0;
  font-weight: 400;
  line-height: 1.1;
  color: #aaa;
  align-items: center;
}

h1 {
  font-size: 70px;
  line-height: 0.8;
  align-items: flex-end;

  small {
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}

h3,
h4 {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 16px;

  small {
    font-weight: normal;
  }
}

a {
  text-decoration: none;
  word-break: break-word;
  color: #57a4ff;

  &.ext:after {
    padding-right: 14px;
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQwIDc5LjE2MDQ1MSwgMjAxNy8wNS8wNi0wMTowODoyMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChNYWNpbnRvc2gpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQ4RUJDOTZGRTBDOTExRTc5MERBQTJCNDQxQTQzODExIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQ4RUJDOTcwRTBDOTExRTc5MERBQTJCNDQxQTQzODExIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6OENGOUI3QzBFMEM4MTFFNzkwREFBMkI0NDFBNDM4MTEiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NDhFQkM5NkVFMEM5MTFFNzkwREFBMkI0NDFBNDM4MTEiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz6D7JNDAAAAYElEQVR42nSP3Q3AIAiE1bgXc7gBIzEBezDZNbRK1NBLeAC+46cCKLeY+Si2kqvO+BJVRUaZ2YLRN+cOgIgCbskEB3ZTDWiM8QJenKtCPTn4kIjk33njcP59t/p+xiPAAIgBI+Fw0CHaAAAAAElFTkSuQmCC') 100% 4px no-repeat;
  }
}

dl {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1px;
  align-items: center;

  dt,
  dd {
    display: flex;
    align-items: center;
    padding: 2px 5px;
  }
}

p {
  margin: 0 0 10px;
}

.input {
  padding: 4px 8px;
  border: 1px solid #2375D7;
  background-color: #E8F0FE;
  margin: 0 8px;
}

.row {
  display: flex;
  line-height: 1.4;

  .las {
    margin-right: 8px;
  }
}

.alert-danger,
.alert-success {
  margin: 0 0 10px;
  padding: 10px;
  color: red;
  background-color: #3e0707;
}

.alert-success {
  color: #509804;
  background-color: #18271b;
}

.warn-message {
  margin: 0 5px;
  color: red;
}

.toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 7px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #cacaca;
  background-color: #efefef;

  span {
    font-size: 14px;
    font-weight: normal;
    color: #0f7fc4;
  }
}

pre {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 0 10px;
  white-space: pre-wrap;
}

.informer {
  position: absolute;
  z-index: -1000;
  right: 0;
  bottom: 60px;
  left: 0;
  transition: all 0.3s ease-in;
  transform: translateY(350%);
  text-align: center;
  opacity: 0;

  &.show {
    z-index: 1005;
    transition: all 0.25s ease-in;
    transform: none;
    opacity: 1;
  }

  p {
    display: inline-block;
    max-width: 90%;
    margin: 0;
    padding: 6px 15px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
    border-radius: 18px;
    background-color: #757575;
  }
}

button {
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0;
  padding: 8px 20px;
  cursor: pointer;
  user-select: none;
  transition: background 0.3s linear;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  border: 0;
  border-radius: 3px;
  outline: none;
  background-color: #2275d7;

  &[disabled] {
    cursor: initial;
    background-color: #414d5a;
  }
}

.loader {
  width: 76px;
  height: 76px;
  display: inline-block;
  border-width: 2px;
  border-color: rgba(255,255,255, 0.1);
  border-top-color: white;
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -38px 0 0 -38px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.player-actions {
  display: flex;
  align-items: center;
  margin: 0 0 10px;

  & > * {
    margin: 0 6px 0 0;
  }

  .spacer {
    flex-grow: 1;
  }

  button {
    padding: 2px 20px;
  }
}

.modal {
  p {
    padding: 6px 0;
  }
}

.ma-table {
  overflow-x: auto;

  &-header,
  &-data {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    grid-template-rows: auto;
    grid-gap: 1px;

    & > div {
      padding: 4px;
      background-color: rgba(255,255,255,0.1);
      transition: background 0.4s linear;
    }
  }

  &-header {
    margin: 0 0 1px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #aaa;
  }

  &-data {
    &:hover {
      & > div {
        background-color: rgba(255,255,255,0.2);
      }
    }
  }
}

.ellipsis {
  display: block !important;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.badge {
  margin: 0 0 0 10px;
  padding: 4px 12px;
  font-size: 14px;
  color: #aaa;
  border-radius: 20px;
  background-color: #333;

  &.active {
    color: #fff;
    background-color: #492e7c;
  }
}


.las,
.lar,
.lab {
  font-size: 30px;

  & + span {
    margin-left: 10px;
    user-select: none;
    line-height: 1;
    text-align: left;
    white-space: normal;
  }

  &.la-question-circle {
    color: #777;
  }

  &.la-check-circle {
    color: #509804;
  }

  &.la-exclamation-circle {
    color: red;
  }
}

// Material Accordion
// -------------------------------
.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;
    background: rgba(80, 80, 80, 0.1);

    .mat-expansion-panel-header {
      padding: 0 24px;
      font: 300 15px/1 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

      .mat-content {
        align-items: center;
      }

      .mat-expansion-panel-header-title {
        color: #aaa;
      }
    }

    .mat-expansion-panel-content {
      .mat-expansion-panel-content {
        font: 300 14px/20px 'Mulish', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
        padding: 0; // 0 24px 16px;
      }
    }
  }
}
