.dropzone {
  height: 100%;
  transition: all 0.3s ease-out;

  .dz-message {
    display: flex;
    align-items: center;

    .fas {
      font-size: 24px;
      margin: 0 10px 0 0;
    }
  }

  .preview {
    height: 100% !important;
    min-height: unset !important;
  }
}
