.smeu-status-bar {
  &:before {
    position: absolute;
    right: 0;
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #eaeaea;
  }

  &-progress {
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 2px;
    background-color: #2275d7;

    &.complete {
      background-color: #1cae68;
    }

    &.ready {
      background-color: #eaeaea;
    }
  }

  &-status {
    display: flex;
    align-items: center;


    &-primary {
      margin: 0 0 0 10px;
      font-size: 14px;
      color: #777;
    }

    &-secondary {
      margin: 0 0 0 10px;
      font-size: 11px;
      color: #a2a2a2;
    }
  }
}

:host {
  &.smeu-theme-promo {
    .smeu-status-bar-status-primary {
      font-size: 14px;
      color: black;
    }

    .smeu-status-bar-status-secondary {
      font-size: 12px;
      color: black;
    }
  }
}
