<ng-container *ngIf="metadataStarted">
  <h3>Validating format metadata...</h3>
</ng-container>

<ng-container *ngIf="showResults">
  <h2>{{proResMsg}}</h2>

  <div *ngIf="imageValidations?.length">
    <h3>Image</h3>

    <dl *ngFor="let item of imageValidations">
      <dt>
        <i *ngIf="item.success" class="ma-icon success"></i>
        <i *ngIf="!item.success" class="ma-icon error"></i>
        <i *ngIf="item.warn" class="ma-icon warn"></i>
        <span>{{item.name}}</span>
      </dt>
      <dd>
        {{item.value}}
        <span *ngIf="!item.success" class="warn-message">→ {{item.message}}</span>
      </dd>
    </dl>
  </div>

  <div *ngIf="output !== '{}'">
    <div (click)="toggleExif()" class="toggle-container">
      <h3>EXIF</h3>
      <span *ngIf="!showExif">[+]</span>
      <span *ngIf="showExif">[–]</span>
    </div>

    <div *ngIf="showExif" (click)="toggleExif()" class="ma-metadata">
      <pre>{{output}}</pre>
    </div>
  </div>
</ng-container>
