<div [hidden]="!detectingMono">
  <h3>mono detection started on three audio segments...</h3>
</div>

<div [hidden]="!monoResults" class="ma-audio__analysis">
  <h3>Audio Signal Analysis</h3>
  <div class="ma-monodetect">
    <div class="col-xs-4" *ngFor="#item of monoResults; #index = index">
      <h5>segment {{index + 1}} is
        <span [hidden]="item.isMono">stereo</span>
        <span [hidden]="!item.isMono">mono</span></h5>
      <a (click)="showMonoDetails(index)" class="ma-mono__segment--link">
        <span [hidden]="!displayMonoDetails[index]">hide</span>
        <span [hidden]="displayMonoDetails[index]">show</span>
          segment {{index + 1}} analysis</a>
      <span [hidden]="!displayMonoDetails[index]">
          <div *ngFor="#item of item.data">
            {{item}}
          </div>
      </span>
    </div>

    <div [hidden]="!shouldWarn" class="ma-mono__message col-xs-12">
      <span class="fa fa-warning"></span>
      <i>All three tested audio segments are mono.
         Before uploading, please make sure this is intentional.</i>
    </div>
  </div>
  <!-- /.ma-monodetect -->
  <div class="ma-peakdetect">

  </div>

</div>
