<div [hidden]="!detectingMono">
  <h3>mono detection started on three audio segments...</h3>
</div>

<div [hidden]="!monoResults">
  <h3>mono detections</h3>
  <ul>
    <li *ngFor="#item of monoResults; #index = index">
      <h3>segment {{index + 1}} mono: {{item.isMono}}</h3>
      <a (click)="showMonoDetails(index)">show segment analysis</a>
      <span [hidden]="!displayMonoDetails[index]">
      <div *ngFor="#item of item.data">
        {{item}}
      </div>
    </span>
    </li>
  </ul>
</div>
