.modal {
  &-overlay {
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.2);
  }

  &-container {
    position: absolute;
    z-index: 1101;
    top: 50%;
    left: 50%;
    overflow: visible;
    min-height: 100px;
    max-height: 70vh;
    padding: 0;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);

    &-title {
      padding: 10px;
      background-color: rgba(0,0,0, 0.1);

      h3 {
        display: inline-block;
        margin: 0;
      }

      .btn-close {
        position: absolute;
        top: -12px;
        right: -12px;
        display: block;
        width: 24px;
        height: 24px;
        padding: 0;
        border: 0;
        border-radius: 50%;
        background: black;
      }
    }

    &-body {
      overflow-y: auto;
      height: calc(70vh - 50px);
      padding: 10px 10px 20px;
      font-size: 16px;
    }
  }
}
